# Kernel: sgemm_kernel_128
#
# SharedSize: 16384
# Params(8):
#   0:0x140:4:4 param_C,
#   1:0x144:4:0 param_m,
#   2:0x148:4:0 param_n,
#   3:0x14c:4:0 param_k,
#   4:0x150:4:0 param_lda,
#   5:0x154:4:0 param_ldb,
#   6:0x158:4:0 param_ldc
#   7:0x15c:4:4 param_D // for diagnostic printf output
#
# Globals:
#   c[0x0][0x160]: texA (the value is 1)
#   c[0x0][0x164]: texB (the value is 0)

// Scheduler doesn't handle the dependency flags yet,
// so move these first instructions outside the block that's auto scheduled
--:-:1:-:1      S2R R118, SR_TID.X;   // Set Dep 1
--:-:2:-:1      S2R R120,  SR_CTAID.X; // Set Dep 2
--:-:3:-:1      S2R R121,  SR_CTAID.Y; // Set Dep 3

// Instructions in a SCHEDULE_BLOCK are automatically reordered and appropriately stalled for simple dependancies
// Memory dependencies are left up to the auther to deal with manually for now.
// First 128 threads load A to shared, 2nd 128 loads B to shared
// Note this technique is not possible in cuda or ptx as there's no way to specify a warp-uniform predicate for a memory op.
// Compile sgemm.cu and inspect the sass to see what I'm talking about.
// blk = tid >= 128 ? by   : bx;
// ldx = tid >= 128 ? ldb  : lda;
// tex = tid >= 128 ? texB : texA;
// Initialize the portion of shared we use to zero our C registers
// Give each warp its own address to write to.
// All threads write to the same address, but we don't care because only one needs to take.
// tid31 = tid & 31
// tid4  = (tid >> 5) & 3
// ldx4  = ldx * 4;
// ldx8  = ldx * 8;
// track0 = blk*128 + tid31 + (ldx * tid4)
// Setup 8 independent track vars so we don't need to synchronize between texture loads
// writeS = (tid31 + tid4*128) * 4
// writeS += 4096 if tid >= 128
// int end = track0 + (k-8)*ldx;
// readAs and readBs are carefully constructed to avoid any bank conflicts while loading from shared
// readAs = (((tid & 0x80) >> 4) | ((tid >> 1) & 7)) << 4;
// readBs  = ((($tid & 0x70) >> 3) | ($tid & 1)) << 4 + 4096;
// Preload the first 8 lines from texture memory
// Break this up into two barriers so we can load 4 at a time (works faster in main loop so do here as well).
// Keep these instructions in this order (but allow others to interleave).
// Normally the scheduler tries to preserve source order by default, but in this case
// the IADDs to the track variables in linear mode can make a later instruction ready before a preceeding one.
01:-:-:Y:1      ISETP.GE.AND P0, PT, R118, 128, PT; // Wait Dep 1
--:-:-:-:1      LOP.AND R119, R118, 31;
--:-:-:-:1      BFE.U32 R6, R118, 0x205;
--:-:-:-:1      MOV R4, c[0x0][0x14c];
--:-:-:-:1      BFE.U32 R7, R118, 0x301;
--:-:-:-:1      LOP.AND R116, R118, 0x80;
--:-:-:-:1      LOP.AND R117, R118, 0x70;
--:-:-:-:1      LOP.AND R5, R118, 1;
--:-:-:-:1      ISCADD R115, R6, R119, 7;
--:-:-:-:1      IADD R4, R4, -8;
--:-:-:-:1      LOP.AND R80, R118, -32;
--:-:-:-:2      SHR.U32 R116, R116, 4;
--:-:-:-:1 @!P0 MOV R1, c[0x0][0x150];
--:-:-:-:1      SHR.U32 R117, R117, 3;
--:-:-:-:0  @P0 MOV R1, c[0x0][0x154];
--:-:-:-:1      STS.128 [R80 + 4x<2048>], RZ;
06:-:-:-:1      SEL R0, R121, R120, P0;               // Wait Dep 2 & 3
--:-:-:-:1      SHL R115, R115, 2;
--:-:-:-:1 @!P0 MOV32I R114, 0x80000001; // texA
--:-:-:-:1  @P0 MOV32I R114, 0x80000000; // texB
--:-:-:-:1      LOP.OR R116, R116, R7;
--:-:-:-:1      SHL R3, R1, 2;
--:-:-:-:1      XMAD.MRG R8, R1, R6.H1, RZ; // XMAD.LO is a macro that is expanded out into the 3 XMADs
--:-:-:-:1      ISCADD R104, R0, R119, 7;
--:-:-:-:1      XMAD.MRG R9, R4, R1.H1, RZ;
--:-:-:-:1      LOP.OR R117, R117, R5;
--:-:-:-:1      SHL R116, R116, 4;
--:-:-:-:1      IADD R112, R3, R3;
--:-:-:-:1  @P0 IADD R115, R115, 4x<1024>;
--:-:-:-:2      XMAD R104, R1, R6, R104;
--:-:-:-:4      ISCADD R117, R117, 4x<1024>, 4;
--:-:-:-:2      XMAD.PSL.CBCC R104, R1.H1, R8.H1, R104;
--:-:-:-:4      TLD.B.LZ.T R96, R104, R114, 0x0, 1D, 0x1;
--:-:-:-:1      IADD R105, R104, 32;
--:-:-:-:1      IADD R106, R104, 64;
--:-:-:-:1      TLD.B.LZ.T R97, R105, R114, 0x0, 1D, 0x1;
--:-:-:-:0      IADD R107, R104, 96;
--:-:-:-:1      TLD.B.LZ.T R98, R106, R114, 0x0, 1D, 0x1;
--:-:-:-:1      IADD R108, R104, R3;
--:-:1:-:1      TLD.B.LZ.P R99, R107, R114, 0x0, 1D, 0x1; // Set Dep 1
--:-:-:-:0      IADD R109, R105, R3;
--:-:-:-:1      TLD.B.LZ.T R100, R108, R114, 0x0, 1D, 0x1;
--:-:-:-:1      IADD R110, R106, R3;
--:-:-:-:1      TLD.B.LZ.T R101, R109, R114, 0x0, 1D, 0x1;
--:-:-:-:0      IADD R111, R107, R3;
--:-:-:-:1      TLD.B.LZ.T R102, R110, R114, 0x0, 1D, 0x1;
--:-:-:-:1      XMAD R113, R4, R1, R104;
--:-:2:Y:5      TLD.B.LZ.P R103, R111, R114, 0x0, 1D, 0x1; // Set Dep 2
--:-:-:-:1      XMAD.PSL.CBCC R113, R4.H1, R9.H1, R113;

// These instuctions need to occur after the textures load so put them in a new block
// that starts with a dependency barrier wait.
// Increment tracks after the loads are complete to avoid needing write-after-read dependencies
// Initialize C registeres to zero
// Using LDS.U.128 is a neat trick to save a few clock cyles
// (when you have enough warps to hide the latency.)
// Wait for all threads to finish loading shared
01:-:-:-:1      STS [R115 + 4x<000 + 00>], R96; // Wait Dep 1
--:-:-:-:0      IADD R104, R104, R112;
--:-:-:-:1      STS [R115 + 4x<000 + 32>], R97;
--:-:-:-:0      IADD R105, R105, R112;
--:-:-:-:1      STS [R115 + 4x<000 + 64>], R98;
--:-:-:-:0      IADD R106, R106, R112;
--:-:-:-:1      STS [R115 + 4x<000 + 96>], R99;
--:-:-:-:0      IADD R107, R107, R112;
02:-:-:-:1      STS [R115 + 4x<512 + 00>], R100; // Wait Dep 2
--:-:-:-:0      IADD R108, R108, R112;
--:-:-:-:1      STS [R115 + 4x<512 + 32>], R101;
--:-:-:-:0      IADD R109, R109, R112;
--:-:-:-:1      STS [R115 + 4x<512 + 64>], R102;
--:-:-:-:0      IADD R110, R110, R112;
--:-:-:-:1      STS [R115 + 4x<512 + 96>], R103;
--:-:-:-:0      IADD R111, R111, R112;
--:-:-:-:1      LDS.U.128 R0, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R4, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R8, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R12, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R16, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R20, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R24, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R28, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R32, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R36, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R40, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R44, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R48, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R52, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R56, [R80 + 4x<2048>];
--:-:-:-:1      LDS.U.128 R60, [R80 + 4x<2048>];
--:-:-:-:5      BAR.SYNC 0x0;

// Preload the fist lines of A and B from shared
--:-:-:-:1      LDS.U.128 R64, [R116 + 4x<0*128 + 00>];
--:-:-:-:1      LDS.U.128 R72, [R117 + 4x<0*128 + 00>];
--:-:-:-:1      LDS.U.128 R68, [R116 + 4x<0*128 + 64>];
--:-:1:-:1      LDS.U.128 R76, [R117 + 4x<0*128 + 64>]; // Set Dep 1

// Next store to shared goes to high area.
// Having 2 share buffers allows us to eliminate a bar.sync in the main loop
--:-:-:-:1      LOP.XOR R115, R115, 4x<2048>;

// The main loop
// While calculating the first line, load in the next line from shared.
// Shared memory stores enough to do this 8 times per loop.
// Also pull in the next block of memory from global and store it to shared.

// Efficiency:
// ffma: 512
// lds:  32 dual issued
// sts:  8  dual issued
// tex:  8  dual issued
// add:  8
// xor:  3
// setp: 1
// bar:  1  dual issued
// bra:  1  dual issued
// Total: 524 (512/524 = 97.7% FFMA)

LOOP:

// Loop end condition
--:-:-:-:1      ISETP.LE.AND P0, PT, R104, R113, PT;
01:-:-:-:0      FFMA R1, R66, R72, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R80, [R116 + 4x<1*128 + 00>];
--:-:-:-:1      FFMA R3, R64, R72, R3;
--:-:-:-:0      FFMA R2, R64, R73, R2;
--:-:-:-:1      LDS.U.128 R88, [R117 + 4x<1*128 + 00>];
--:-:-:-:1      FFMA R0, R66, R73, R0;
--:-:-:-:0      FFMA R7, R65, R72, R7;
--:-:-:-:1      LDS.U.128 R84, [R116 + 4x<1*128 + 64>];
--:-:-:-:1      FFMA R5, R67, R72, R5;
--:-:-:-:0      FFMA R6, R65, R73, R6;
--:-:1:-:1      LDS.U.128 R92, [R117 + 4x<1*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R67, R73, R4;
--:-:-:-:1      FFMA R35, R68, R72, R35;
--:-:-:-:1      FFMA R33, R70, R72, R33;
--:-:-:-:1      FFMA R34, R68, R73, R34;
--:-:-:-:1      FFMA R32, R70, R73, R32;
--:-:-:-:1      FFMA R39, R69, R72, R39;
--:-:-:-:1      FFMA R37, R71, R72, R37;
--:-:-:-:1      FFMA R38, R69, R73, R38;
--:-:-:-:1      FFMA R36, R71, R73, R36;
--:-:-:-:1      FFMA R47, R69, R74, R47;
--:-:-:-:1      FFMA R45, R71, R74, R45;
--:-:-:-:1      FFMA R46, R69, R75, R46;
--:-:-:-:1      FFMA R44, R71, R75, R44;
--:-:-:-:1      FFMA R43, R68, R74, R43;
--:-:-:-:1      FFMA R41, R70, R74, R41;
--:-:-:-:1      FFMA R42, R68, R75, R42;
--:-:-:-:1      FFMA R40, R70, R75, R40;
--:-:-:-:1      FFMA R15, R65, R74, R15;
--:-:-:-:1      FFMA R13, R67, R74, R13;
--:-:-:-:1      FFMA R14, R65, R75, R14;
--:-:-:-:1      FFMA R12, R67, R75, R12;
--:-:-:Y:1      FFMA R11, R64, R74, R11;
--:-:-:-:0      FFMA R9, R66, R74, R9;
--:-:-:-:1  @P0 TLD.B.LZ.T R96, R104, R114, 0x0, 1D, 0x1;
--:-:-:-:1      FFMA R10, R64, R75, R10;
--:-:-:-:0      FFMA R8, R66, R75, R8;
--:-:-:-:1  @P0 TLD.B.LZ.T R97, R105, R114, 0x0, 1D, 0x1;
--:-:-:-:1      FFMA R19, R64, R76, R19;
--:-:-:-:0      FFMA R17, R66, R76, R17;
--:-:-:-:1  @P0 TLD.B.LZ.T R98, R106, R114, 0x0, 1D, 0x1;
--:-:-:-:1      FFMA R18, R64, R77, R18;
--:-:-:-:0      FFMA R16, R66, R77, R16;
--:-:2:-:1  @P0 TLD.B.LZ.P R99, R107, R114, 0x0, 1D, 0x1; // Set Dep 2
--:-:-:-:1      FFMA R23, R65, R76, R23;
--:-:-:-:1      FFMA R21, R67, R76, R21;
--:-:-:-:1      FFMA R22, R65, R77, R22;
--:-:-:-:1      FFMA R20, R67, R77, R20;
--:-:-:-:1      FFMA R51, R68, R76, R51;
--:-:-:-:1      FFMA R49, R70, R76, R49;
--:-:-:-:1      FFMA R50, R68, R77, R50;
--:-:-:-:1      FFMA R48, R70, R77, R48;
--:-:-:-:1      FFMA R55, R69, R76, R55;
--:-:-:-:1      FFMA R53, R71, R76, R53;
--:-:-:-:1      FFMA R54, R69, R77, R54;
--:-:-:-:1      FFMA R52, R71, R77, R52;
--:-:-:-:1      FFMA R63, R69, R78, R63;
--:-:-:-:1      FFMA R61, R71, R78, R61;
--:-:-:-:1      FFMA R62, R69, R79, R62;
--:-:-:-:1      FFMA R60, R71, R79, R60;
--:-:-:-:1      FFMA R59, R68, R78, R59;
--:-:-:-:1      FFMA R57, R70, R78, R57;
--:-:-:-:1      FFMA R58, R68, R79, R58;
--:-:-:-:1      FFMA R56, R70, R79, R56;
--:-:-:-:1      FFMA R31, R65, R78, R31;
--:-:-:-:1      FFMA R29, R67, R78, R29;
--:-:-:-:1      FFMA R30, R65, R79, R30;
--:-:-:-:1      FFMA R28, R67, R79, R28;
--:-:-:-:1      FFMA R27, R64, R78, R27;
--:-:-:-:1      FFMA R25, R66, R78, R25;
--:-:-:-:1      FFMA R26, R64, R79, R26;
--:-:-:-:1      FFMA R24, R66, R79, R24;
01:-:-:-:0      FFMA R1, R82, R88, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R64, [R116 + 4x<2*128 + 00>];
--:-:-:-:1      FFMA R3, R80, R88, R3;
--:-:-:-:0      FFMA R2, R80, R89, R2;
--:-:-:-:1      LDS.U.128 R72, [R117 + 4x<2*128 + 00>];
--:-:-:-:1      FFMA R0, R82, R89, R0;
--:-:-:-:0      FFMA R7, R81, R88, R7;
--:-:-:-:1      LDS.U.128 R68, [R116 + 4x<2*128 + 64>];
--:-:-:-:1      FFMA R5, R83, R88, R5;
--:-:-:-:0      FFMA R6, R81, R89, R6;
--:-:1:-:1      LDS.U.128 R76, [R117 + 4x<2*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R83, R89, R4;
--:-:-:-:1      FFMA R35, R84, R88, R35;
--:-:-:-:1      FFMA R33, R86, R88, R33;
--:-:-:-:1      FFMA R34, R84, R89, R34;
--:-:-:-:1      FFMA R32, R86, R89, R32;
--:-:-:-:1      FFMA R39, R85, R88, R39;
--:-:-:-:1      FFMA R37, R87, R88, R37;
--:-:-:-:1      FFMA R38, R85, R89, R38;
--:-:-:-:1      FFMA R36, R87, R89, R36;
--:-:-:-:1      FFMA R47, R85, R90, R47;
--:-:-:-:1      FFMA R45, R87, R90, R45;
--:-:-:-:1      FFMA R46, R85, R91, R46;
--:-:-:-:1      FFMA R44, R87, R91, R44;
--:-:-:-:1      FFMA R43, R84, R90, R43;
--:-:-:-:1      FFMA R41, R86, R90, R41;
--:-:-:-:1      FFMA R42, R84, R91, R42;
--:-:-:-:1      FFMA R40, R86, R91, R40;
--:-:-:-:1      FFMA R15, R81, R90, R15;
--:-:-:-:1      FFMA R13, R83, R90, R13;
--:-:-:-:1      FFMA R14, R81, R91, R14;
--:-:-:-:1      FFMA R12, R83, R91, R12;
--:-:-:Y:1      FFMA R11, R80, R90, R11;
--:-:-:-:0      FFMA R9, R82, R90, R9;
--:-:-:-:1  @P0 TLD.B.LZ.T R100, R108, R114, 0x0, 1D, 0x1;
--:-:-:-:1      FFMA R10, R80, R91, R10;
--:-:-:-:0      FFMA R8, R82, R91, R8;
--:-:-:-:1  @P0 TLD.B.LZ.T R101, R109, R114, 0x0, 1D, 0x1;
--:-:-:-:1      FFMA R19, R80, R92, R19;
--:-:-:-:0      FFMA R17, R82, R92, R17;
--:-:-:-:1  @P0 TLD.B.LZ.T R102, R110, R114, 0x0, 1D, 0x1;
--:-:-:-:1      FFMA R18, R80, R93, R18;
--:-:-:-:0      FFMA R16, R82, R93, R16;
--:-:3:-:1  @P0 TLD.B.LZ.P R103, R111, R114, 0x0, 1D, 0x1; // Set Dep 3
--:-:-:-:1      FFMA R23, R81, R92, R23;
--:-:-:-:1      FFMA R21, R83, R92, R21;
--:-:-:-:1      FFMA R22, R81, R93, R22;
--:-:-:-:1      FFMA R20, R83, R93, R20;
--:-:-:-:1      FFMA R51, R84, R92, R51;
--:-:-:-:1      FFMA R49, R86, R92, R49;
--:-:-:-:1      FFMA R50, R84, R93, R50;
--:-:-:-:1      FFMA R48, R86, R93, R48;
--:-:-:-:1      FFMA R55, R85, R92, R55;
--:-:-:-:1      FFMA R53, R87, R92, R53;
--:-:-:-:1      FFMA R54, R85, R93, R54;
--:-:-:-:1      FFMA R52, R87, R93, R52;
--:-:-:-:1      FFMA R63, R85, R94, R63;
--:-:-:-:1      FFMA R61, R87, R94, R61;
--:-:-:-:1      FFMA R62, R85, R95, R62;
--:-:-:-:1      FFMA R60, R87, R95, R60;
--:-:-:-:1      FFMA R59, R84, R94, R59;
--:-:-:-:1      FFMA R57, R86, R94, R57;
--:-:-:-:1      FFMA R58, R84, R95, R58;
--:-:-:-:1      FFMA R56, R86, R95, R56;
--:-:-:-:1      FFMA R31, R81, R94, R31;
--:-:-:-:1      FFMA R29, R83, R94, R29;
--:-:-:-:1      FFMA R30, R81, R95, R30;
--:-:-:-:1      FFMA R28, R83, R95, R28;
--:-:-:-:1      FFMA R27, R80, R94, R27;
--:-:-:-:1      FFMA R25, R82, R94, R25;
--:-:-:-:1      FFMA R26, R80, R95, R26;
--:-:-:-:1      FFMA R24, R82, R95, R24;
01:-:-:-:0      FFMA R1, R66, R72, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R80, [R116 + 4x<3*128 + 00>];
--:-:-:-:1      FFMA R3, R64, R72, R3;
--:-:-:-:0      FFMA R2, R64, R73, R2;
--:-:-:-:1      LDS.U.128 R88, [R117 + 4x<3*128 + 00>];
--:-:-:-:1      FFMA R0, R66, R73, R0;
--:-:-:-:0      FFMA R7, R65, R72, R7;
--:-:-:-:1      LDS.U.128 R84, [R116 + 4x<3*128 + 64>];
--:-:-:-:1      FFMA R5, R67, R72, R5;
--:-:-:-:0      FFMA R6, R65, R73, R6;
--:-:1:-:1      LDS.U.128 R92, [R117 + 4x<3*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R67, R73, R4;
--:-:-:-:1      FFMA R35, R68, R72, R35;
--:-:-:-:1      FFMA R33, R70, R72, R33;
--:-:-:-:1      FFMA R34, R68, R73, R34;
--:-:-:-:1      FFMA R32, R70, R73, R32;
--:-:-:-:1      FFMA R39, R69, R72, R39;
--:-:-:-:1      FFMA R37, R71, R72, R37;
--:-:-:-:1      FFMA R38, R69, R73, R38;
--:-:-:-:1      FFMA R36, R71, R73, R36;
--:-:-:-:1      FFMA R47, R69, R74, R47;
--:-:-:-:1      FFMA R45, R71, R74, R45;
--:-:-:-:1      FFMA R46, R69, R75, R46;
--:-:-:-:1      FFMA R44, R71, R75, R44;
--:-:-:-:1      FFMA R43, R68, R74, R43;
--:-:-:-:1      FFMA R41, R70, R74, R41;
--:-:-:-:1      FFMA R42, R68, R75, R42;
--:-:-:-:1      FFMA R40, R70, R75, R40;
--:-:-:-:1      FFMA R15, R65, R74, R15;
--:-:-:-:1      FFMA R13, R67, R74, R13;
--:-:-:-:1      FFMA R14, R65, R75, R14;
--:-:-:-:1      FFMA R12, R67, R75, R12;
--:-:-:Y:1      FFMA R11, R64, R74, R11;
--:-:-:-:1      FFMA R9, R66, R74, R9;
--:-:-:-:1      FFMA R10, R64, R75, R10;
--:-:-:-:1      FFMA R8, R66, R75, R8;
--:-:-:-:1      FFMA R19, R64, R76, R19;
--:-:-:-:1      FFMA R17, R66, R76, R17;
--:-:-:-:1      FFMA R18, R64, R77, R18;
--:-:-:-:1      FFMA R16, R66, R77, R16;
--:-:-:-:1      FFMA R23, R65, R76, R23;
--:-:-:-:1      FFMA R21, R67, R76, R21;
--:-:-:-:1      FFMA R22, R65, R77, R22;
--:-:-:-:1      FFMA R20, R67, R77, R20;
--:-:-:-:1      FFMA R51, R68, R76, R51;
--:-:-:-:1      FFMA R49, R70, R76, R49;
--:-:-:-:1      FFMA R50, R68, R77, R50;
--:-:-:-:1      FFMA R48, R70, R77, R48;
--:-:-:-:1      FFMA R55, R69, R76, R55;
--:-:-:-:1      FFMA R53, R71, R76, R53;
--:-:-:-:1      FFMA R54, R69, R77, R54;
--:-:-:-:1      FFMA R52, R71, R77, R52;
--:-:-:-:1      FFMA R63, R69, R78, R63;
--:-:-:-:1      FFMA R61, R71, R78, R61;
--:-:-:-:1      FFMA R62, R69, R79, R62;
--:-:-:-:1      FFMA R60, R71, R79, R60;
--:-:-:-:1      FFMA R59, R68, R78, R59;
--:-:-:-:1      FFMA R57, R70, R78, R57;
--:-:-:-:1      FFMA R58, R68, R79, R58;
--:-:-:-:1      FFMA R56, R70, R79, R56;
--:-:-:-:1      FFMA R31, R65, R78, R31;
--:-:-:-:1      FFMA R29, R67, R78, R29;
--:-:-:-:1      FFMA R30, R65, R79, R30;
--:-:-:-:1      FFMA R28, R67, R79, R28;
--:-:-:-:1      FFMA R27, R64, R78, R27;
--:-:-:-:1      FFMA R25, R66, R78, R25;
--:-:-:-:1      FFMA R26, R64, R79, R26;
--:-:-:-:1      FFMA R24, R66, R79, R24;
01:-:-:-:0      FFMA R1, R82, R88, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R64, [R116 + 4x<4*128 + 00>];
--:-:-:-:1      FFMA R3, R80, R88, R3;
--:-:-:-:0      FFMA R2, R80, R89, R2;
--:-:-:-:1      LDS.U.128 R72, [R117 + 4x<4*128 + 00>];
--:-:-:-:1      FFMA R0, R82, R89, R0;
--:-:-:-:0      FFMA R7, R81, R88, R7;
--:-:-:-:1      LDS.U.128 R68, [R116 + 4x<4*128 + 64>];
--:-:-:-:1      FFMA R5, R83, R88, R5;
--:-:-:-:0      FFMA R6, R81, R89, R6;
--:-:1:-:1      LDS.U.128 R76, [R117 + 4x<4*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R83, R89, R4;
--:-:-:-:1      FFMA R35, R84, R88, R35;
--:-:-:-:1      FFMA R33, R86, R88, R33;
--:-:-:-:1      FFMA R34, R84, R89, R34;
--:-:-:-:1      FFMA R32, R86, R89, R32;
--:-:-:-:1      FFMA R39, R85, R88, R39;
--:-:-:-:1      FFMA R37, R87, R88, R37;
--:-:-:-:1      FFMA R38, R85, R89, R38;
--:-:-:-:1      FFMA R36, R87, R89, R36;
--:-:-:-:1      FFMA R47, R85, R90, R47;
--:-:-:-:1      FFMA R45, R87, R90, R45;
--:-:-:-:1      FFMA R46, R85, R91, R46;
--:-:-:-:1      FFMA R44, R87, R91, R44;
--:-:-:-:1      FFMA R43, R84, R90, R43;
--:-:-:-:1      FFMA R41, R86, R90, R41;
--:-:-:-:1      FFMA R42, R84, R91, R42;
--:-:-:-:1      FFMA R40, R86, R91, R40;
--:-:-:-:1      FFMA R15, R81, R90, R15;
--:-:-:-:1      FFMA R13, R83, R90, R13;
--:-:-:-:1      FFMA R14, R81, R91, R14;
--:-:-:-:1      FFMA R12, R83, R91, R12;
--:-:-:Y:1      FFMA R11, R80, R90, R11;
--:-:-:-:1      FFMA R9, R82, R90, R9;
--:-:-:-:1      FFMA R10, R80, R91, R10;
--:-:-:-:1      FFMA R8, R82, R91, R8;
--:-:-:-:1      FFMA R19, R80, R92, R19;
--:-:-:-:1      FFMA R17, R82, R92, R17;
--:-:-:-:1      FFMA R18, R80, R93, R18;
--:-:-:-:1      FFMA R16, R82, R93, R16;
--:-:-:-:1      FFMA R23, R81, R92, R23;
--:-:-:-:1      FFMA R21, R83, R92, R21;
--:-:-:-:1      FFMA R22, R81, R93, R22;
--:-:-:-:1      FFMA R20, R83, R93, R20;
--:-:-:-:1      FFMA R51, R84, R92, R51;
--:-:-:-:1      FFMA R49, R86, R92, R49;
--:-:-:-:1      FFMA R50, R84, R93, R50;
--:-:-:-:1      FFMA R48, R86, R93, R48;
--:-:-:-:1      FFMA R55, R85, R92, R55;
--:-:-:-:1      FFMA R53, R87, R92, R53;
--:-:-:-:1      FFMA R54, R85, R93, R54;
--:-:-:-:1      FFMA R52, R87, R93, R52;
--:-:-:-:1      FFMA R63, R85, R94, R63;
--:-:-:-:1      FFMA R61, R87, R94, R61;
--:-:-:-:1      FFMA R62, R85, R95, R62;
--:-:-:-:1      FFMA R60, R87, R95, R60;
--:-:-:-:1      FFMA R59, R84, R94, R59;
--:-:-:-:1      FFMA R57, R86, R94, R57;
--:-:-:-:1      FFMA R58, R84, R95, R58;
--:-:-:-:1      FFMA R56, R86, R95, R56;
--:-:-:-:1      FFMA R31, R81, R94, R31;
--:-:-:-:1      FFMA R29, R83, R94, R29;
--:-:-:-:1      FFMA R30, R81, R95, R30;
--:-:-:-:1      FFMA R28, R83, R95, R28;
--:-:-:-:1      FFMA R27, R80, R94, R27;
--:-:-:-:1      FFMA R25, R82, R94, R25;
--:-:-:-:1      FFMA R26, R80, R95, R26;
--:-:-:-:1      FFMA R24, R82, R95, R24;
01:-:-:-:0      FFMA R1, R66, R72, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R80, [R116 + 4x<5*128 + 00>];
--:-:-:-:1      FFMA R3, R64, R72, R3;
--:-:-:-:0      FFMA R2, R64, R73, R2;
--:-:-:-:1      LDS.U.128 R88, [R117 + 4x<5*128 + 00>];
--:-:-:-:1      FFMA R0, R66, R73, R0;
--:-:-:-:0      FFMA R7, R65, R72, R7;
--:-:-:-:1      LDS.U.128 R84, [R116 + 4x<5*128 + 64>];
--:-:-:-:1      FFMA R5, R67, R72, R5;
--:-:-:-:0      FFMA R6, R65, R73, R6;
--:-:1:-:1      LDS.U.128 R92, [R117 + 4x<5*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R67, R73, R4;
--:-:-:-:1      FFMA R35, R68, R72, R35;
--:-:-:-:1      FFMA R33, R70, R72, R33;
--:-:-:-:1      FFMA R34, R68, R73, R34;
--:-:-:-:1      FFMA R32, R70, R73, R32;
--:-:-:-:1      FFMA R39, R69, R72, R39;
--:-:-:-:1      FFMA R37, R71, R72, R37;
--:-:-:-:1      FFMA R38, R69, R73, R38;
--:-:-:-:1      FFMA R36, R71, R73, R36;
--:-:-:-:1      FFMA R47, R69, R74, R47;
--:-:-:-:1      FFMA R45, R71, R74, R45;
--:-:-:-:1      FFMA R46, R69, R75, R46;
--:-:-:-:1      FFMA R44, R71, R75, R44;
--:-:-:-:1      FFMA R43, R68, R74, R43;
--:-:-:-:1      FFMA R41, R70, R74, R41;
--:-:-:-:1      FFMA R42, R68, R75, R42;
--:-:-:-:1      FFMA R40, R70, R75, R40;
--:-:-:-:1      FFMA R15, R65, R74, R15;
--:-:-:-:1      FFMA R13, R67, R74, R13;
--:-:-:-:1      FFMA R14, R65, R75, R14;
--:-:-:-:1      FFMA R12, R67, R75, R12;
--:-:-:Y:1      FFMA R11, R64, R74, R11;
--:-:-:-:1      FFMA R9, R66, R74, R9;
--:-:-:-:1      FFMA R10, R64, R75, R10;
--:-:-:-:1      FFMA R8, R66, R75, R8;
--:-:-:-:1      FFMA R19, R64, R76, R19;
--:-:-:-:1      FFMA R17, R66, R76, R17;
--:-:-:-:1      FFMA R18, R64, R77, R18;
--:-:-:-:1      FFMA R16, R66, R77, R16;
--:-:-:-:1      FFMA R23, R65, R76, R23;
--:-:-:-:1      FFMA R21, R67, R76, R21;
--:-:-:-:1      FFMA R22, R65, R77, R22;
--:-:-:-:1      FFMA R20, R67, R77, R20;
--:-:-:-:1      FFMA R51, R68, R76, R51;
--:-:-:-:1      FFMA R49, R70, R76, R49;
--:-:-:-:1      FFMA R50, R68, R77, R50;
--:-:-:-:1      FFMA R48, R70, R77, R48;
--:-:-:-:1      FFMA R55, R69, R76, R55;
--:-:-:-:1      FFMA R53, R71, R76, R53;
--:-:-:-:1      FFMA R54, R69, R77, R54;
--:-:-:-:1      FFMA R52, R71, R77, R52;
--:-:-:-:1      FFMA R63, R69, R78, R63;
--:-:-:-:1      FFMA R61, R71, R78, R61;
--:-:-:-:1      FFMA R62, R69, R79, R62;
--:-:-:-:1      FFMA R60, R71, R79, R60;
--:-:-:-:1      FFMA R59, R68, R78, R59;
--:-:-:-:1      FFMA R57, R70, R78, R57;
--:-:-:-:1      FFMA R58, R68, R79, R58;
--:-:-:-:1      FFMA R56, R70, R79, R56;
--:-:-:-:1      FFMA R31, R65, R78, R31;
--:-:-:-:1      FFMA R29, R67, R78, R29;
--:-:-:-:1      FFMA R30, R65, R79, R30;
--:-:-:-:1      FFMA R28, R67, R79, R28;
--:-:-:-:1      FFMA R27, R64, R78, R27;
--:-:-:-:1      FFMA R25, R66, R78, R25;
--:-:-:-:1      FFMA R26, R64, R79, R26;
--:-:-:-:1      FFMA R24, R66, R79, R24;
01:-:-:-:0      FFMA R1, R82, R88, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R64, [R116 + 4x<6*128 + 00>];
--:-:-:-:1      FFMA R3, R80, R88, R3;
--:-:-:-:0      FFMA R2, R80, R89, R2;
--:-:-:-:1      LDS.U.128 R72, [R117 + 4x<6*128 + 00>];
--:-:-:-:1      FFMA R0, R82, R89, R0;
--:-:-:-:0      FFMA R7, R81, R88, R7;
--:-:-:-:1      LDS.U.128 R68, [R116 + 4x<6*128 + 64>];
--:-:-:-:1      FFMA R5, R83, R88, R5;
--:-:-:-:0      FFMA R6, R81, R89, R6;
--:-:1:-:1      LDS.U.128 R76, [R117 + 4x<6*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R83, R89, R4;
--:-:-:-:1      FFMA R35, R84, R88, R35;
--:-:-:-:1      FFMA R33, R86, R88, R33;
--:-:-:-:1      FFMA R34, R84, R89, R34;
--:-:-:-:1      FFMA R32, R86, R89, R32;
--:-:-:-:1      FFMA R39, R85, R88, R39;
--:-:-:-:1      FFMA R37, R87, R88, R37;
--:-:-:-:1      FFMA R38, R85, R89, R38;
--:-:-:-:1      FFMA R36, R87, R89, R36;
--:-:-:-:1      FFMA R47, R85, R90, R47;
--:-:-:-:1      FFMA R45, R87, R90, R45;
--:-:-:-:1      FFMA R46, R85, R91, R46;
--:-:-:-:1      FFMA R44, R87, R91, R44;
--:-:-:-:1      FFMA R43, R84, R90, R43;
--:-:-:-:1      FFMA R41, R86, R90, R41;
--:-:-:-:1      FFMA R42, R84, R91, R42;
--:-:-:-:1      FFMA R40, R86, R91, R40;
--:-:-:-:1      FFMA R15, R81, R90, R15;
--:-:-:-:1      FFMA R13, R83, R90, R13;
--:-:-:-:1      FFMA R14, R81, R91, R14;
--:-:-:-:1      FFMA R12, R83, R91, R12;
--:-:-:Y:1      FFMA R11, R80, R90, R11;
--:-:-:-:0      FFMA R9, R82, R90, R9;
02:-:-:-:1  @P0 STS [R115 + 4x<000 + 00>], R96;       // Wait Dep 2
--:-:-:-:1      FFMA R10, R80, R91, R10;
--:-:-:-:0      FFMA R8, R82, R91, R8;
--:-:-:-:1  @P0 STS [R115 + 4x<000 + 32>], R97;
--:-:-:-:1      FFMA R19, R80, R92, R19;
--:-:-:-:0      FFMA R17, R82, R92, R17;
--:-:-:-:1  @P0 STS [R115 + 4x<000 + 64>], R98;
--:-:-:-:1      FFMA R18, R80, R93, R18;
--:-:-:-:0      FFMA R16, R82, R93, R16;
--:-:-:-:1  @P0 STS [R115 + 4x<000 + 96>], R99;
--:-:-:-:1      FFMA R23, R81, R92, R23;
--:-:-:-:1      FFMA R21, R83, R92, R21;
--:-:-:-:1      FFMA R22, R81, R93, R22;
--:-:-:-:1      FFMA R20, R83, R93, R20;
--:-:-:-:1      FFMA R51, R84, R92, R51;
--:-:-:-:1      FFMA R49, R86, R92, R49;
--:-:-:-:1      FFMA R50, R84, R93, R50;
--:-:-:-:1      FFMA R48, R86, R93, R48;
--:-:-:-:1      FFMA R55, R85, R92, R55;
--:-:-:-:1      FFMA R53, R87, R92, R53;
--:-:-:-:1      FFMA R54, R85, R93, R54;
--:-:-:-:1      FFMA R52, R87, R93, R52;
--:-:-:-:1      FFMA R63, R85, R94, R63;
--:-:-:-:1      FFMA R61, R87, R94, R61;
--:-:-:-:1      FFMA R62, R85, R95, R62;
--:-:-:-:1      FFMA R60, R87, R95, R60;
--:-:-:-:1      FFMA R59, R84, R94, R59;
--:-:-:-:1      FFMA R57, R86, R94, R57;
--:-:-:-:1      FFMA R58, R84, R95, R58;
--:-:-:-:1      FFMA R56, R86, R95, R56;
--:-:-:-:1      FFMA R31, R81, R94, R31;
--:-:-:-:1      FFMA R29, R83, R94, R29;
--:-:-:-:1      FFMA R30, R81, R95, R30;
--:-:-:-:1      FFMA R28, R83, R95, R28;
--:-:-:-:1      FFMA R27, R80, R94, R27;
--:-:-:-:1      FFMA R25, R82, R94, R25;
--:-:-:-:1      FFMA R26, R80, R95, R26;
--:-:-:-:1      FFMA R24, R82, R95, R24;
01:-:-:-:0      FFMA R1, R66, R72, R1; // Wait Dep 1
--:-:-:-:1      LDS.U.128 R80, [R116 + 4x<7*128 + 00>];
--:-:-:-:1      FFMA R3, R64, R72, R3;
--:-:-:-:0      FFMA R2, R64, R73, R2;
--:-:-:-:1      LDS.U.128 R88, [R117 + 4x<7*128 + 00>];
--:-:-:-:1      FFMA R0, R66, R73, R0;
--:-:-:-:0      FFMA R7, R65, R72, R7;
--:-:-:-:1      LDS.U.128 R84, [R116 + 4x<7*128 + 64>];
--:-:-:-:1      FFMA R5, R67, R72, R5;
--:-:-:-:0      FFMA R6, R65, R73, R6;
--:-:1:-:1      LDS.U.128 R92, [R117 + 4x<7*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R67, R73, R4;
--:-:-:-:1      FFMA R35, R68, R72, R35;
--:-:-:-:1      FFMA R33, R70, R72, R33;
--:-:-:-:1      FFMA R34, R68, R73, R34;
--:-:-:-:1      FFMA R32, R70, R73, R32;
--:-:-:-:1      FFMA R39, R69, R72, R39;
--:-:-:-:1      FFMA R37, R71, R72, R37;
--:-:-:-:1      FFMA R38, R69, R73, R38;
--:-:-:-:1      FFMA R36, R71, R73, R36;
--:-:-:-:1      FFMA R47, R69, R74, R47;
--:-:-:-:1      FFMA R45, R71, R74, R45;
--:-:-:-:1      FFMA R46, R69, R75, R46;
--:-:-:-:1      FFMA R44, R71, R75, R44;
--:-:-:-:1      FFMA R43, R68, R74, R43;
--:-:-:-:1      FFMA R41, R70, R74, R41;
--:-:-:-:1      FFMA R42, R68, R75, R42;
--:-:-:-:1      FFMA R40, R70, R75, R40;
--:-:-:-:1      FFMA R15, R65, R74, R15;
--:-:-:-:1      FFMA R13, R67, R74, R13;
--:-:-:-:1      FFMA R14, R65, R75, R14;
--:-:-:-:1      FFMA R12, R67, R75, R12;
--:-:-:Y:1      FFMA R11, R64, R74, R11;
--:-:-:-:0      FFMA R9, R66, R74, R9;
04:-:-:-:1  @P0 STS [R115 + 4x<512 + 00>], R100;       // Wait Dep 3
--:-:-:-:1      FFMA R10, R64, R75, R10;
--:-:-:-:0      FFMA R8, R66, R75, R8;
--:-:-:-:1  @P0 STS [R115 + 4x<512 + 32>], R101;
--:-:-:-:1      FFMA R19, R64, R76, R19;
--:-:-:-:0      FFMA R17, R66, R76, R17;
--:-:-:-:1  @P0 STS [R115 + 4x<512 + 64>], R102;
--:-:-:-:1      FFMA R18, R64, R77, R18;
--:-:-:-:0      FFMA R16, R66, R77, R16;
--:-:-:-:1  @P0 STS [R115 + 4x<512 + 96>], R103;
--:-:-:-:1      FFMA R23, R65, R76, R23;
--:-:-:-:1      FFMA R21, R67, R76, R21;
--:-:-:-:1      FFMA R22, R65, R77, R22;
--:-:-:-:1      FFMA R20, R67, R77, R20;
--:-:-:-:1      FFMA R51, R68, R76, R51;
--:-:-:-:1      FFMA R49, R70, R76, R49;
--:-:-:-:1      FFMA R50, R68, R77, R50;
--:-:-:-:1      FFMA R48, R70, R77, R48;
--:-:-:-:1      FFMA R55, R69, R76, R55;
--:-:-:-:1      FFMA R53, R71, R76, R53;
--:-:-:-:1      FFMA R54, R69, R77, R54;
--:-:-:-:1      FFMA R52, R71, R77, R52;
--:-:-:-:1      FFMA R63, R69, R78, R63;
--:-:-:-:1      FFMA R61, R71, R78, R61;
--:-:-:-:1      FFMA R62, R69, R79, R62;
--:-:-:-:1      FFMA R60, R71, R79, R60;
--:-:-:-:1      FFMA R59, R68, R78, R59;
--:-:-:-:1      FFMA R57, R70, R78, R57;
--:-:-:-:1      FFMA R58, R68, R79, R58;
--:-:-:-:1      FFMA R56, R70, R79, R56;
--:-:-:-:1      FFMA R31, R65, R78, R31;
--:-:-:-:1      FFMA R29, R67, R78, R29;
--:-:-:-:1      FFMA R30, R65, R79, R30;
--:-:-:-:1      FFMA R28, R67, R79, R28;
--:-:-:-:1      FFMA R27, R64, R78, R27;
--:-:-:-:1      FFMA R25, R66, R78, R25;
--:-:-:-:0      FFMA R26, R64, R79, R26;
01:-:-:-:5  @P0 BAR.SYNC 0x0; // Wait Dep 1
--:-:-:-:1  @P0 LOP.XOR R116, R116, 4x<2048>;
--:-:-:-:1  @P0 LOP.XOR R117, R117, 4x<2048>;
--:-:-:-:1  @P0 LOP.XOR R115, R115, 4x<2048>;
--:-:-:-:1      FFMA R24, R66, R79, R24;
--:-:-:-:0      FFMA R1, R82, R88, R1;
--:-:-:-:1  @P0 LDS.U.128 R64, [R116 + 4x<0*128 + 00>];
--:-:-:-:1      FFMA R3, R80, R88, R3;
--:-:-:-:0      FFMA R2, R80, R89, R2;
--:-:-:-:1  @P0 LDS.U.128 R72, [R117 + 4x<0*128 + 00>];
--:-:-:-:1      FFMA R0, R82, R89, R0;
--:-:-:-:0      FFMA R7, R81, R88, R7;
--:-:-:-:1  @P0 LDS.U.128 R68, [R116 + 4x<0*128 + 64>];
--:-:-:-:1      FFMA R5, R83, R88, R5;
--:-:-:-:0      FFMA R6, R81, R89, R6;
--:-:1:-:1  @P0 LDS.U.128 R76, [R117 + 4x<0*128 + 64>]; // Set Dep 1
--:-:-:-:1      FFMA R4, R83, R89, R4;
--:-:-:-:1      FFMA R35, R84, R88, R35;
--:-:-:-:1      FFMA R33, R86, R88, R33;
--:-:-:-:1      FFMA R34, R84, R89, R34;
--:-:-:-:1      FFMA R32, R86, R89, R32;
--:-:-:-:1      FFMA R39, R85, R88, R39;
--:-:-:-:1      FFMA R37, R87, R88, R37;
--:-:-:-:1      FFMA R38, R85, R89, R38;
--:-:-:-:1      FFMA R36, R87, R89, R36;
--:-:-:-:1      FFMA R47, R85, R90, R47;
--:-:-:-:1      FFMA R45, R87, R90, R45;
--:-:-:-:1      FFMA R46, R85, R91, R46;
--:-:-:-:1      FFMA R44, R87, R91, R44;
--:-:-:-:1      FFMA R43, R84, R90, R43;
--:-:-:-:1      FFMA R41, R86, R90, R41;
--:-:-:-:1      FFMA R42, R84, R91, R42;
--:-:-:-:1      FFMA R40, R86, R91, R40;
--:-:-:-:1      FFMA R15, R81, R90, R15;
--:-:-:-:1      FFMA R13, R83, R90, R13;
--:-:-:-:1      FFMA R14, R81, R91, R14;
--:-:-:-:1      FFMA R12, R83, R91, R12;
--:-:-:Y:1      FFMA R11, R80, R90, R11;
--:-:-:-:1      FFMA R9, R82, R90, R9;
--:-:-:-:1      FFMA R10, R80, R91, R10;
--:-:-:-:1      FFMA R8, R82, R91, R8;
--:-:-:-:1      FFMA R19, R80, R92, R19;
--:-:-:-:1      FFMA R17, R82, R92, R17;
--:-:-:-:1      FFMA R18, R80, R93, R18;
--:-:-:-:1      FFMA R16, R82, R93, R16;
--:-:-:-:1      FFMA R23, R81, R92, R23;
--:-:-:-:1      FFMA R21, R83, R92, R21;
--:-:-:-:1      FFMA R22, R81, R93, R22;
--:-:-:-:1      FFMA R20, R83, R93, R20;
--:-:-:-:1      FFMA R51, R84, R92, R51;
--:-:-:-:1      FFMA R49, R86, R92, R49;
--:-:-:-:1      FFMA R50, R84, R93, R50;
--:-:-:-:1      FFMA R48, R86, R93, R48;
--:-:-:-:1      FFMA R55, R85, R92, R55;
--:-:-:-:1      FFMA R53, R87, R92, R53;
--:-:-:-:1      FFMA R54, R85, R93, R54;
--:-:-:-:1      FFMA R52, R87, R93, R52;
--:-:-:-:1      FFMA R63, R85, R94, R63;
--:-:-:-:1      FFMA R61, R87, R94, R61;
--:-:-:-:1      FFMA R62, R85, R95, R62;
--:-:-:-:1      FFMA R60, R87, R95, R60;
--:-:-:-:1      FFMA R59, R84, R94, R59;
--:-:-:-:1      FFMA R57, R86, R94, R57;
--:-:-:-:1      FFMA R58, R84, R95, R58;
--:-:-:-:1      FFMA R56, R86, R95, R56;
--:-:-:-:1      FFMA R31, R81, R94, R31;
--:-:-:-:1      FFMA R29, R83, R94, R29;
--:-:-:-:1      FFMA R30, R81, R95, R30;
--:-:-:-:1      FFMA R28, R83, R95, R28;
--:-:-:-:1      FFMA R27, R80, R94, R27;
--:-:-:-:1      FFMA R25, R82, R94, R25;
--:-:-:-:1      FFMA R26, R80, R95, R26;
--:-:-:-:1      FFMA R24, R82, R95, R24;
--:-:-:-:1  @P0 IADD R104, R104, R112;
--:-:-:-:1  @P0 IADD R105, R105, R112;
--:-:-:-:1  @P0 IADD R106, R106, R112;
--:-:-:-:1  @P0 IADD R107, R107, R112;
--:-:-:-:1  @P0 IADD R108, R108, R112;
--:-:-:-:1  @P0 IADD R109, R109, R112;
--:-:-:-:1  @P0 IADD R110, R110, R112;
--:-:-:-:0  @P0 IADD R111, R111, R112;
--:-:-:Y:5  @P0 BRA LOOP;

// Main loop is done, time to write C to global memory.
// Remap readAs and readBs onto writeCs so we can shuffle the output for coalesced global writes.
// readAs stays constant, readBs colapses down from stride 4 to 1
// Remove the high bits if present from the last loop's xor
//writeCs = (readBs / 4) * 128 + readAs;
// Read out the C values from shared in a simple tid mapped pattern but
// offset by the position of this warp's data in shared.
// cx = tid31 | ((tid & 128) >> 2);
//readCs = ((tid96 << 4) | cx) << 2;
// cx += bx*128;
// cy = by*128 + (tid96 >> 1)
// C += (cy*ldc + cx) * 4;
// When writing in assembly, being able to 'printf' is sometimes easier than stepping through the debugger.
// Here's how it's done.  Drop something like this in your code (math assumes 256 threads and 1 block).
// Then modify the c code to accept this many params per thread to printf (see assemblySgemm function).
//--:-:-:-:1      ISCADD D, tid, c[0x0][0x15c], 0x2;
//--:-:-:-:1      STG.CS [D + 4x<0 * 256>], readAs;
//--:-:-:-:1      STG.CS [D + 4x<1 * 256>], readBs;
//--:-:-:-:1      STG.CS [D + 4x<2 * 256>], writeCs;
//--:-:-:-:1      STG.CS [D + 4x<3 * 256>], readCs;
//--:-:-:-:1      STG.CS [D + 4x<4 * 256>], cx;
//--:-:-:-:1      STG.CS [D + 4x<5 * 256>], cy00;
//--:-:-:-:1      STG.CS [D + 4x<6 * 256>], ci;
//--:-:-:-:1      STG.CS [D + 4x<7 * 256>], cx67y67;
// Setup our matrix bounds checking vars and preds
// Setup our C output addresses and increments.
// We pre-increment the output addresses to all them to be dual issued with memory ops
// So start with a -1 instead of 0 value.
// Load the first set of the STORE_C subroutine params in the scheduled block.
--:-:-:-:1      LOP.AND R89, R118, 0x60;
--:-:-:-:1      LOP.AND R90, R118, 128;
--:-:-:-:1      MOV R82, c[0x0][0x158];
--:-:-:-:1      MOV R80, c[0x0][0x144];
--:-:-:-:1      LOP.AND R116, R116, 0xfff;
--:-:-:-:1      LOP.AND R117, R117, 0xfff;
--:-:-:-:1      SHR.U32 R72, R89, 1;
--:-:-:-:1      MOV R81, c[0x0][0x148];
--:-:-:-:1      SHR.U32 R90, R90, 2;
--:-:-:-:1      MOV R64, R3;
--:-:-:-:1      SHL R83, R82, 2;
--:-:-:-:1      MOV R65, R7;
--:-:-:-:1      ISCADD R72, R121, R72, 7;
--:-:-:-:1      MOV R66, R1;
--:-:-:-:1      SHL R84, R82, 4;
--:-:-:-:1      LOP.OR R90, R119, R90;
--:-:-:-:1      SHL R88, R89, 4;
--:-:-:-:1      MOV R67, R5;
--:-:-:-:1      SHL R85, R82, 5;
--:-:-:-:1      XMAD.MRG R92, R72, R82.H1, RZ;
--:-:-:-:1      ISCADD R87, R117, R116, 5;
--:-:-:-:1      MOV R68, R35;
--:-:-:-:1      ISCADD R86, R82, -R84, 8;
--:-:-:-:1      LOP.OR R88, R88, R90;
--:-:-:-:1      ISCADD R90, R120, R90, 7;
--:-:-:-:1      MOV R69, R39;
--:-:-:-:1      MOV R70, R33;
--:-:-:-:2      MOV R71, R37;
--:-:-:-:1      SHL R88, R88, 2;
--:-:-:-:1      XMAD R91, R72, R82, R90;
--:-:-:-:1      ISETP.LT.AND P5, PT, R90, R80, PT;
--:-:-:-:4      IADD R90, R90, 64;
--:-:-:-:1      XMAD.PSL.CBCC R91, R72.H1, R92.H1, R91;
--:-:-:-:1      IADD R72, R72, -1;
--:-:-:-:4      ISETP.LT.AND P6, PT, R90, R80, PT;
--:-:-:-:1      ISCADD R76, R91, c[0x0][0x140], 2;
--:-:-:-:1      IADD R73, R72, 4;
--:-:-:-:1      IADD R74, R72, 8;
--:-:-:-:3      IADD R75, R72, 12;
--:-:-:Y:6      IADD R76, R76, -R83;
--:-:-:-:1      IADD R77, R76, R84;
--:-:-:Y:5      IADD R78, R76, R85;
--:-:-:-:0      IADD R79, R77, R85; // Dual Issue (last instruction after reordering)

// There's nothing yet in place to handle dependecies with subroutines.
// So don't schedule this block.
--:-:-:-:5      CAL STORE_C;

02:-:-:-:1      MOV R64, R2; // Wait Dep 2
--:-:-:-:1      MOV R65, R6;
--:-:-:-:1      MOV R66, R0;
--:-:-:-:1      MOV R67, R4;
--:-:-:-:1      MOV R68, R34;
--:-:-:-:1      MOV R69, R38;
--:-:-:-:1      MOV R70, R32;
--:-:-:-:0      MOV R71, R36; // Dual Issue
--:-:-:-:5      CAL STORE_C;

02:-:-:-:1      MOV R64, R11; // Wait Dep 2
--:-:-:-:1      MOV R65, R15;
--:-:-:-:1      MOV R66, R9;
--:-:-:-:1      MOV R67, R13;
--:-:-:-:1      MOV R68, R43;
--:-:-:-:1      MOV R69, R47;
--:-:-:-:1      MOV R70, R41;
--:-:-:-:0      MOV R71, R45; // Dual Issue
--:-:-:-:5      CAL STORE_C;

02:-:-:-:1      MOV R64, R10; // Wait Dep 2
--:-:-:-:1      MOV R65, R14;
--:-:-:-:1      MOV R66, R8;
--:-:-:-:1      MOV R67, R12;
--:-:-:-:1      MOV R68, R42;
--:-:-:-:1      MOV R69, R46;
--:-:-:-:1      MOV R70, R40;
--:-:-:-:0      MOV R71, R44; // Dual Issue
--:-:-:-:5      CAL STORE_C;

--:-:-:-:1      IADD R72, R72, 60;
--:-:-:-:1      IADD R73, R73, 60;
--:-:-:-:1      IADD R74, R74, 60;
--:-:-:-:1      IADD R75, R75, 60;

02:-:-:-:1      IADD R76, R76, R86; // Wait Dep 2
--:-:-:-:1      IADD R77, R77, R86;
--:-:-:-:1      IADD R78, R78, R86;
--:-:-:-:1      IADD R79, R79, R86;

--:-:-:-:1      MOV R64, R19;
--:-:-:-:1      MOV R65, R23;
--:-:-:-:1      MOV R66, R17;
--:-:-:-:1      MOV R67, R21;
--:-:-:-:1      MOV R68, R51;
--:-:-:-:1      MOV R69, R55;
--:-:-:-:1      MOV R70, R49;
--:-:-:-:0      MOV R71, R53; // Dual Issue
--:-:-:-:5      CAL STORE_C;

02:-:-:-:1      MOV R64, R18; // Wait Dep 2
--:-:-:-:1      MOV R65, R22;
--:-:-:-:1      MOV R66, R16;
--:-:-:-:1      MOV R67, R20;
--:-:-:-:1      MOV R68, R50;
--:-:-:-:1      MOV R69, R54;
--:-:-:-:1      MOV R70, R48;
--:-:-:-:0      MOV R71, R52; // Dual Issue
--:-:-:-:5      CAL STORE_C;

02:-:-:-:1      MOV R64, R27; // Wait Dep 2
--:-:-:-:1      MOV R65, R31;
--:-:-:-:1      MOV R66, R25;
--:-:-:-:1      MOV R67, R29;
--:-:-:-:1      MOV R68, R59;
--:-:-:-:1      MOV R69, R63;
--:-:-:-:1      MOV R70, R57;
--:-:-:-:0      MOV R71, R61; // Dual Issue
--:-:-:-:5      CAL STORE_C;

02:-:-:-:1      MOV R64, R26; // Wait Dep 2
--:-:-:-:1      MOV R65, R30;
--:-:-:-:1      MOV R66, R24;
--:-:-:-:1      MOV R67, R28;
--:-:-:-:1      MOV R68, R58;
--:-:-:-:1      MOV R69, R62;
--:-:-:-:1      MOV R70, R56;
--:-:-:-:0      MOV R71, R60; // Dual Issue
--:-:-:-:5      CAL STORE_C;


// And we'd done.  The remainder is the STORE_C subroutine that's defined at the end of the kernel.
--:-:-:-:5      EXIT;

// This routine does warp synchronous shuffling of our output data so as to be able
// to have coalesced writes to global memory.  This is actually faster because a
// round trip to shared takes much less time than an extra store to global.
// The SHFL instruction doesn't help us here because we're swaping different registers
// from different threads.
STORE_C:
// Each warp writes to its own region of memory so we don't need to bar.sync the access.
// There are some bank conflicts here but no way to avoid them, and the hit just means a few extra clocks.
// Note here that the scheduler is able to handle the dependencies between vector and non-vector instructions.
// It knows from the instruction type and the register map that cs0 here includes cs1, cs2 and cs3 as well.
// Loads naturally occur after the store to shared completes, no sync required.
--:-:-:-:0      IADD R72, R72, 1;
--:-:-:-:1      STS.128 [R87+4x<00>], R64;
--:-:-:-:0      IADD R73, R73, 1;
--:-:-:-:1      STS.128 [R87+4x<64>], R68;
--:-:-:-:0      IADD R74, R74, 1;
--:-:-:-:1      LDS R64, [R88 + 4x<0*128 + 00>];
--:-:-:-:0      IADD R75, R75, 1;
--:-:-:-:1      LDS R65, [R88 + 4x<0*128 + 64>];
--:-:-:-:0      IADD R76, R76, R83;
--:-:-:-:1      LDS R66, [R88 + 4x<1*128 + 00>];
--:-:-:-:0      IADD R77, R77, R83;
--:-:-:-:1      LDS R67, [R88 + 4x<1*128 + 64>];
--:-:-:-:0      IADD R78, R78, R83;
--:-:-:-:1      LDS R68, [R88 + 4x<2*128 + 00>];
--:-:-:-:0      IADD R79, R79, R83;
--:-:-:-:1      LDS R69, [R88 + 4x<2*128 + 64>];
--:-:-:-:1      ISETP.LT.AND P0, PT, R72, R81, P5;
--:-:-:-:1      LDS R70, [R88 + 4x<3*128 + 00>];
--:-:-:-:1      ISETP.LT.AND P1, PT, R72, R81, P6;
--:-:1:-:1      LDS R71, [R88 + 4x<3*128 + 64>]; // Set Dep 1
--:-:-:-:2      ISETP.LT.AND P2, PT, R73, R81, P5;
--:-:-:Y:7      ISETP.LT.AND P3, PT, R73, R81, P6;
01:-:-:-:1  @P0 STG.CG [R76 + 4x<00>], R64; // Wait Dep 1
--:-:-:-:1      ISETP.LT.AND P0, PT, R74, R81, P5;
--:-:-:-:1  @P1 STG.CG [R76 + 4x<64>], R65;
--:-:-:-:1      ISETP.LT.AND P1, PT, R74, R81, P6;
--:-:-:-:1  @P2 STG.CG [R77 + 4x<00>], R66;
--:-:-:-:1      ISETP.LT.AND P2, PT, R75, R81, P5;
--:-:-:-:1  @P3 STG.CG [R77 + 4x<64>], R67;
--:-:-:Y:7      ISETP.LT.AND P3, PT, R75, R81, P6;
--:-:-:-:2  @P0 STG.CG [R78 + 4x<00>], R68;
--:-:-:-:2  @P1 STG.CG [R78 + 4x<64>], R69;
--:-:-:-:2  @P2 STG.CG [R79 + 4x<00>], R70;
--:2:-:-:1  @P3 STG.CG [R79 + 4x<64>], R71; // Set Dep 2

--:-:-:-:5      RET;
